:root {
  
--backgroundColor:             #ffffff;
--backgroundTransparentColor: rgba( 255, 255, 255, .8  );
--sheetBackgroundColor:       rgba( 240, 240, 240, .8  );

--foregroundColor:             #010101;
--thinRuleColor:              rgba( 107, 122, 118, .12 );

--headingsColor:               rgb(   0,   0,   0      );
--headingsUnderlineColor:     rgba(   0,   0,   0, .12 );
--boldColor:                     var(--headingsColor);
--boldUnderlineColor:            var(--headingsUnderlineColor);
--linkColor:                   #0160A0;
--linkUnderlineColor:         #DDE7F1;
--linkColorVisited:            #5C87B4;
--linkUnderlineColorVisited:  #EBF1F7;
--hoverColor:                  #A03000;
--hoverUnderlineColor:        #F9EBEB;
--tagColor:                    rgb(   0,   0,   0      );
--tagUnderlineColor:          rgba(   0,   0,   0, .12 );
--adminColor:                  #0160A0;
--adminUnderlineColor:        #DDE7F1;
--engineTextColor:             var(--foregroundColor);
--engineTextUnderlineColor:    var(--thinRuleColor);

--markedTextBackground:        #EEEEEE;
--markedImageBorderColor:      rgb( 255, 242, 128);

--inputBackgroundColor: #EFEFEF;
--inputTextColor: #010101;

--imageBorderColor: #D9D9D9;
--sideNoteBGColor: #f7f3e9;
/* --disabledColor */
/* --activeColor */
/* --errorColor */
/* --verifiedColor */
/* --currentItemBackgroundColor */
/* --windowBackgroundColor */
/* --unsavedIndicatorColor */

/* to match .likely */
/* --subscribeButtonBackground: rgba(231,231,231,.8); */
/* --subscribeButtonHoverBackground: rgba(212,212,212,.8); */
/* --subscribeButtonTextColor: #000; */

/* to match .likely-light */
/* --subscribeButtonBackground: rgba(236,236,236,.16); */
/* --subscribeButtonHoverBackground: rgba(255,255,255,.48); */
/* --subscribeButtonTextColor: #fff; */

--marginTop: 18px;
--marginLeft: 2.8%;
--marginRight: 2.8%;
--marginTopCompact: 14px;
--marginLeftCompact: 3%;
--marginRightCompact: 3%;

--logoTop: -8px;
--blogTitleFontSize: 16px;
--blogTitleLineHeight: 148%;
--pageHeadingFontSize: 44px;
--pageHeadingLineHeight: 108%;
--noteTitleFontSize: 45px;
--noteTitleLineHeight: 116%;
--noteTitleFavouriteFontSize: 86px;
--noteTitleFavouriteLineHeight: 42px;
--noteTextFontSize: 22px;
--noteTextLineHeight: 148%;
--smallFontSize: 13px;
--mainFontFamily: isans, "Arial", "Helvetica Neue", "Arial", sans-serif;
--noteMainFontFamily: iserif, "Helvetica Neue", "Arial", sans-serif;
--smallFontFamily: inherit;
}

@font-face {
  font-family: iserif-i;
  src: url("../../../fonts/IBMPlexSerif-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic
}
@font-face {
  font-family: iserif;
  src: url("../../../fonts/IBMPlexSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: isans;
  src: url("../../../fonts/IBMPlexSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: isansb;
  src: url("../../../fonts/IBMPlexSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: imono;
  src: url("../../../fonts/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal
}

body {
  max-width: 1280px;
}

@media (min-width: 1152px) {
}
.flag {
  padding-bottom: 32px;
  /*padding-top: 0;*/
}
.e2-text .note {
  float: right;
  width: 25%;
  padding-left: 10px;
  clear: right;
  font-size: 20px;
  font-family: isans;
  line-height: 20px;
  background-color: var(--sideNoteBGColor);
  border-radius: 2px;
}

.header-box {
display: flex;
margin: 0 2.8%;
padding-bottom: 8px;
/* border-bottom: 1px solid var(--linkUnderlineColorVisited); */
max-width: 1024px;
}

.header-box ul {
list-style: none;
}

.menu {
font-size: 25px; 
margin: 0;
font-family: isansb;
}

.menu-links {
display: flex;
margin: 0;
}

.menu-links li {
  margin: 0;
margin-right: 12px;
}

.menu a {
  color: var(--linkColor);
  border-color: var(--linkUnderlineColor);
  transition-property: border-bottom,border-color,background,color,fill;
  transition-duration: var(--time);
  transition-timing-function: ease-out;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.menu a:hover {
text-decoration: none;
color: var(--hoverColor);
border-bottom: 1px solid #E0C4B9;
}

.menu-spacer {
    height: 25px;
    border-bottom: 2px solid var(--linkUnderlineColorVisited);
  }

@media (max-width: 465px) {

  .e2-text .note::before {
    content: "↓ ";
}

  .e2-text .note {
    float: right;
    clear: right;
    width: 100%;
    padding-left: 10px;
    font-size: var(--smallFontSize);
    font-family: isans;
    line-height: 20px;
  }

.header-box {
  display: inline-block;
  padding-bottom: 42px;
  margin: 0 3%;
}

.menu {
  font-size: 16px;
  font-family: isansb; 
}

.menu-links {
  display: flex;
  flex-wrap: wrap;
}

.menu-links li {
  margin: 0 12px 4px 0;
}

.menu a {
padding: 2px 0 3px 0;
}

.flag {
  padding-bottom: 20px;
}

.menu-spacer {
  height: 10px;
  border-bottom: 2px solid var(--linkUnderlineColorVisited);
}
}

.spotlight {
  margin: 16px 2.4% 0 0;
}

.logo {
  margin-bottom: -1px;
}


.e2-note h1 {
  font-style: normal;
  font-weight: bold;
  max-width: 760px;
  font-family: isansb;
}

.e2-text h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 8px;
  font-family: isansb;
}

.e2-note-list {
  font-size: 19px;
}

.e2-note-list p {
  margin-bottom: 18px;
  font-size: 17px;
}


.e2-note-text p {
  margin-bottom: 16px;
  max-width: 760px;
  font-family: iserif;
}

.mono {
  padding: 1px;
  font-size: 17px;
  border-radius: 2px;
  background-color: #EBEBEB;
  font-family: imono;
}

.e2-text .lead-short {
  margin-bottom: -12px;
} 

.e2-text .quote {
  background-color: #EFEFEF;
  padding: 12px;
  font-family: imono;
}

.e2-text-code {
  padding: 0;
  margin-bottom: 26px;
  font-family: imono;
}

code {
  font-size: 16px;
  padding: 8px;
  max-width: 780px;
  margin-bottom: 18px;
  background-color: #ffffff;
  border: 1px solid #DFDFDF;
  font-family: imono;
}

.card {
  display: inline-block;
  padding: 12px;
  font-size: 17px;
  border-radius: 2px;
  background-color: #EDEDED;
}

.e2-text .foot {
  line-height: 140%;
  font-size: 14px;
  font-family: isans;
}

.button a {
  background-color: #E2733B;
  border-bottom: none;
  padding: 10px 16px 11px;
  margin: 8px 0 12px 0;
  color: #ffffff;
  display: inline-block;
  border-radius: 4px;
  font-size: 18px;
  font-family: var(--headingFF);
}

.button a:hover {
  background-color: #f34723;
}



.e2-text .lead,
.e2-note-favourite .e2-text .lead {
font-family: var(--noteFF);
font-size: 20px;
line-height: 26px;
}

.e2-text .lead-short {
  margin-bottom: -12px;
}

.e2-text .loud-medium {
font-weight: normal;
font-size: 200%;
color: var(--boldColor);
line-height: 118%;
max-width: 720px;  
border: none;
padding: 0;
margin: 20px 0 24px;
}

.e2-text .loud-large {
font-weight: normal;
font-size: 300%;
color: var(--boldColor);
line-height: 100%;
max-width: 720px;  
border: none;
padding: 0;
margin: 20px 0 24px;
}

.e2-note-snippet-text {
  max-width: 620px;
}

.e2-text-video, .e2-text-picture {
  max-width: 1024px;
}


/*.e2-text img {*/
/*    border: 0.5px solid #e2e2e2;*/
/*    display: inline-block;*/
/*}*/

.fotorama__stage {
  border: 0.5px solid #e2e2e2;
  
}


.e2-note-likes .likely__button {
  font-family: isans, -apple-system, sans-serif;
}

blockquote {
  color: #793301;
}

/*PROJECTS*/

.point {
  margin: 20px 0 28px 0;
  padding-bottom: 22px;
  border-bottom: 0.5px solid var(--linkUnderlineColorVisited);
}

/*LISTS*/

.grid {
display: flex;
flex-wrap: wrap;
align-content: flex-start;
margin-right: -14px;
}

.grid-item {
max-width: 212px;
margin-right: 16px;
}

.opacity {
opacity: 0.2;
}


.card-with-picture {
display: flex;
align-content: center;
max-width: 820px;
margin: 10px 0;
}

.card-image {
max-width: 140px;
margin-right: 16px;
}

.roll p {
  margin: 0 0 8px 0;
}

.roll-item {
  display: flex;
  align-items: center;
  border-bottom: none;
  max-width: 400px;
  margin: 0;
  
}

.roll-image {
  max-width: 42px;
  margin-right: 8px;
}

.roll-image .e2-text-picture {
  margin: 0;
}

.roll-title p {
  margin: 0;
}


@media screen and (max-width: 1023px) {
  .e2-text ul {
      padding-left: 4%;
  }
}

@media screen and (max-width: 414px) {
  :root {
      /*--mainFontFamily: -apple-system, sans-serif; */
      --noteTextFontSize: 17px;
      --noteTextLineHeight: 146%;
  }
  
  article .e2-smart-title {
      font-size: 32px;
      line-height: 120%;
  }
  
  .e2-heading h2 {
      font-size: 32px;
      line-height: 120%;
  }
  
  .grid-item {
max-width: 180px;
margin-right: 14px;
}

.card-with-picture {
flex-wrap: wrap;
border-bottom: 0.5px solid var(--linkUnderlineColorVisited);
margin: 20px 0 26px 0;
}

.card-image {
margin-bottom: -12px;
}
  
  .e2-note-likes .likely__button {
  font-family: -apple-system, sans-serif;
}
}

a {
  padding-bottom: 1px;
}

.e2-note-meta u {
  padding-bottom: 1px;
}

.e2-note-snippet h1 {
  font-family: var(--headerFF);
  font-size: 19px;
  margin-bottom: 3px;
}

.e2-note-snippet-text {
  margin-bottom: 6px;
  font-family: var(--FF);
}

.e2-note-snippet-text p {
  line-height: 146%;
  font-size: 17px;
}

article {
  margin-bottom: 22px;
}

.e2-text-table {
  max-width: 820px;
}

/*.e2-smart-title {*/
/*  padding-bottom: 2px;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root .e2-responds-to-dark-mode {*/

/*    --backgroundColor:             rgb(  32,  32,  32      );*/
/*    --backgroundTransparentColor: rgba(  32,  32,  32, .8  );*/
/*    --sheetBackgroundColor:       rgba(  24,  24,  24, .8  );*/
  
/*    --foregroundColor:             rgb( 144, 144, 144      );*/
/*    --thinRuleColor:              rgba( 144, 144, 144, .12 );*/
  
/*    --headingsColor:               rgb( 255, 255, 255      );*/
/*    --headingsUnderlineColor:     rgba( 255, 255, 255, .12 );*/
/*    --boldColor:                   rgb( 255, 255, 255      );*/
/*    --boldUnderlineColor:            var(--headingsUnderlineColor);*/
/*    --linkColor:                   rgb(   0, 128, 255      );*/
/*    --linkUnderlineColor:         rgba(   0, 128, 212, .12 );*/
/*    --linkColorVisited:            rgb( 160, 160, 160      );*/
/*    --linkUnderlineColorVisited:  rgba( 160, 160, 160, .12 );*/
/*    --hoverColor:                  rgb( 240,  40,  32);*/
/*    --hoverUnderlineColor:        rgba( 240,  40,  32, .12 );*/
/*    --tagColor:                      var(--foregroundColor);*/
/*    --tagUnderlineColor:             var(--thinRuleColor);*/
/*    --engineTextColor:               var(--foregroundColor);*/
/*    --engineTextUnderlineColor:      var(--thinRuleColor);*/

/*    --markedTextBackground:           #443300;*/
/*    --markedImageBorderColor:         #886600;*/

/*    --activeColor:                   var(--headingsColor);*/
/*    --errorColor:                  rgb( 240,  40,  32);*/

/*  }*/
/*}*/
